.categories {
  margin-top: 115px;

  &__title {
    margin-bottom: 40px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;

    @media (max-width: $desktop-low) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @media (max-width: $tablet) {
      grid-template-columns: repeat(1, 1fr);
    }

    &-item {
      min-height: 259px;
      text-align: center;
      background-color: var(--main-gray);
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 46px 17px 18px;

      &:last-child {
        margin-right: 0;
      }

      &-picture img {
        transition: 0.2s linear;
        object-fit: none;
        min-height: 130px;
      }

      &:hover {
        .categories__list-item-picture img {
          transform: scale(1.2);
        }
      }
    }

    &-text {
      font-weight: 300;
      min-height: 27px;
    }
  }
}
