.main {
  &-slider {
    margin-top: 19px;

    &__buttons-navigation {
      max-width: 1251px;
      display: flex;

      @media (max-width: $desktop-low) {
        max-width: 93%;
      }

      @media (max-width: $tablet) {
        max-width: calc(100% - 63px);
      }
    }

    &-button-prev,
    &-button-next {
      display: flex;
    }

    &-pagination {
      bottom: 25px !important;
    }
  }

  &-content {
    &-wrapper {
      will-change: transform;
    }
    &__slide {
      display: flex;
      justify-content: space-between;
      background: var(--main-gray);
      position: relative;
      overflow: hidden;
      padding: 0 35px 0 126px;

      @media (max-width: $desktop-low) {
        padding: 0 35px 0 100px;
      }

      @media (max-width: $laptop) {
        padding: 0 35px 0 90px;
      }

      @media (max-width: $tablet) {
        flex-direction: column;
        padding: 0 35px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 22px;
        left: -111px;
        z-index: -1;
        width: 833px;
        height: 643px;
        background: url("/images/main-slider-brilliant.svg") no-repeat center;
      }

      &-info {
        margin-top: 177px;

        @media (max-width: $tablet) {
          margin-top: 40px;
        }

        &-title,
        &-text {
          font-family: "Prata";
          font-weight: 400;
          line-height: 1;
        }

        &-title {
          font-size: 20px;
          margin-bottom: 31px;
        }

        &-text {
          font-size: 50px;
          text-transform: uppercase;
          margin-bottom: 53px;

          @media (max-width: $desktop-low) {
            font-size: 35px;
          }

          @media (max-width: $laptop) {
            font-size: 27px;
          }
        }

        &-button {
          max-width: 200px;
          padding: 20px 0;
        }
      }

      &-img {
        margin-top: 14px;
        min-height: 429px;
        align-items: center;

        @media (max-width: $desktop-low) {
          min-height: 552px;
          display: flex;
          justify-content: center;
        }

        & img {
          @media (max-width: $desktop-low) {
            max-width: 400px;
            object-fit: contain;
          }

          @media (max-width: $laptop) {
            max-width: 320px;
          }
        }

        @media (max-width: $tablet) {
          min-height: 429px;
          align-items: center;
        }
      }
    }
  }
}
