.product {
  margin-top: 108px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slider {
    padding-top: 49px;
  }

  &-view {
    max-width: 550px;
    width: 100%;
    position: relative;
    margin-right: 100px;

    @media (max-width: $desktop-low) {
      max-width: 460px;
      margin-right: 25px;
    }

    &__tags {
      display: flex;
      align-items: center;
      margin-left: 15px;
      position: relative;
      z-index: 10;

      &-item {
        color: var(--main-white);
        font-weight: 500;
        font-size: 13px;
        border-radius: 15px;
        background: var(--main-black);
        padding: 4px 12px;
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }

        &:nth-child(1) {
          background: #495159;
        }

        &:nth-child(2) {
          background: var(--gold);
        }

        &:nth-child(3) {
          background: #5b8a8f;
        }
      }
    }

    &__slider {
      transform: translateY(-39px);

      &-slide {
        & img {
          @media (max-width: $desktop-low) {
            max-width: 440px;
          }

          @media (max-width: $tablet) {
            max-width: 300px;
          }
        }
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;

    @media (max-width: $laptop) {
      flex-direction: column;
    }
  }

  &-info {
    line-height: 1;
    transform: translateY(-15px);
    flex: 1;

    &__rating {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      max-width: 140px;
      width: 100%;

      &-number {
        font-weight: 300;
        font-size: 14px;
      }
    }

    &__title {
      font-family: "Prata";
      font-weight: 400;
      font-size: 32px;
      margin-bottom: 20px;

      @media (max-width: $phone-low) {
        font-size: 29px;
      }
    }

    &__article {
      font-weight: 300;
      font-size: 14px;
      color: #8f8f8f;
    }

    &__price {
      display: flex;
      align-items: center;
      margin-top: 14px;
      padding-bottom: 8px;

      @media (max-width: $tablet) {
        flex-wrap: wrap;
      }

      &-current {
        font-weight: 600;
        font-size: 20px;
        flex: 16% 0 0;

        @media (max-width: $desktop-low) {
          flex: 23% 0 0;
        }

        @media (max-width: $tablet) {
          flex: 34% 0 0;
        }
      }

      &-old {
        font-weight: 300;
        font-size: 16px;
        line-height: 1;
        color: #8f8f8f;
        position: relative;
        padding-right: 10px;
        max-width: 136px;
        width: 100%;

        & span {
          &::before {
            right: -69px;
            top: -4px;
          }
        }
      }

      &-timer {
        margin-left: 36px;
        transform: translateY(-12px);
        max-width: 223px;

        @media (max-width: $tablet) {
          margin-left: 0;
          margin-top: 36px;
          max-width: initial;
        }
      }
    }
  }

  &-colors {
    border-top: 1px solid #f0f0f0;
    padding-top: 29px;

    &__title {
      margin-bottom: 16px;
    }

    &__list {
      &-radio {
        width: 32px;
        height: 32px;
        appearance: none;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 4px;

        &_disabled {
          opacity: 0.3;
          pointer-events: none;
        }

        &::after {
          content: "";
          border: 1px solid #dadada;
          display: inline-block;
          background: #d9d9d9;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          transition: 0.1s linear;
          box-shadow: inset 0px 0px 0px 3px var(--main-white);
        }

        &:checked {
          &::after {
            border: 1px solid var(--main-black);
          }
        }

        &:nth-child(2) {
          &::after {
            background: #f1cb7e;
          }
        }

        &:nth-child(3) {
          &::after {
            background: #ea8c48;
          }
        }

        &:nth-child(4) {
          &::after {
            background: #a7e492;
          }
        }
      }
    }
  }

  &-sizes {
    margin-top: 27px;

    &__head {
      display: flex;
      align-items: center;

      &-title {
        margin-right: 9px;
      }

      &-answer {
        position: relative;

        &-title {
          font-weight: 500;
          font-size: 12px;
          line-height: 1;
          width: 18px;
          height: 18px;
          background: #f0f0f0;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.2s linear;

          &:hover {
            background: #d3d3d3;

            & + .product-sizes__head-answer-descr {
              opacity: 1;
              pointer-events: initial;
            }
          }
        }

        &-descr {
          opacity: 0;
          pointer-events: none;
          background: var(--main-white);
          font-weight: 300;
          font-size: 14px;
          line-height: 1.4;
          padding: 25px 50px 25px 24px;
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
          position: absolute;
          top: -161px;
          left: -126px;
          max-width: 271px;
          width: max-content;
          transition: 0.1s linear;

          &::after {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            background: var(--main-white);
            position: absolute;
            left: 50%;
            transform: translateX(-50%) rotate(-45deg);
            bottom: -4px;
          }
        }
      }
    }

    &__list {
      display: flex;
      align-items: center;
      margin-top: 8px;
      flex-wrap: wrap;

      &-item {
        max-width: 50px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 8px;

        &:not(:last-child) {
          margin-right: 8px;
        }
      }

      &-radio {
        appearance: none;
        opacity: 0;

        &:checked + .product-sizes__list-label {
          border: 1px solid var(--main-black);
          background: var(--main-black);
          color: var(--main-white);
        }
      }

      &-label {
        width: 100%;
        font-weight: 300;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        border: 1px solid #dadada;
        transition: 0.1s linear;
        cursor: pointer;
        display: block;

        padding: 7px 0 9px;

        &:hover {
          border: 1px solid var(--main-black);
        }

        &_disabled {
          opacity: 0.3;
          pointer-events: none;
        }
      }
    }
  }

  &-footer {
    display: flex;
    margin-top: 40px;

    @media (max-width: $desktop-low) {
      flex-direction: column-reverse;
    }

    &__actions {
      flex: 400px 0 0;

      @media (max-width: $desktop-low) {
        flex: initial;
      }

      &-button {
        padding: 21px 0;
        max-width: 400px;

        @media (max-width: $phone-low) {
          max-width: 300px;
        }

        &:not(:last-child) {
          margin-bottom: 11px;
        }

        &_white {
          padding: 20px 0;
        }
      }
    }

    &__additional {
      display: flex;
      flex-direction: column;
      margin-left: 39px;
      flex: 1;

      @media (max-width: $desktop-low) {
        flex-direction: row;
        align-items: center;
        margin-left: 0;
        margin-bottom: 20px;
      }

      &-button {
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 1;
        transition: 0.1s linear;
        cursor: pointer;

        @media (max-width: $phone-low) {
          font-size: 11px;
        }

        &:not(:last-child) {
          margin-bottom: 18px;

          @media (max-width: $desktop-low) {
            margin-bottom: 0;
            margin-right: 10px;
          }
        }

        & label {
          cursor: inherit;
          display: flex;
          align-items: center;
        }

        & img {
          transition: inherit;
          filter: grayscale(1) opacity(0.4);
          margin-right: 8px;
        }

        &:hover {
          & img {
            filter: grayscale(1) opacity(0.8);
          }
          & span {
            color: #979797;
          }
        }
      }
    }
    &__like {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }

  &-slider-button {
    border: none;
    width: 10px;
    height: 16px;
    top: 52%;

    &::after {
      background: url("/images/alternate-arrow.svg") no-repeat center;
      width: 100%;
      height: 100%;
    }

    &.swiper-button-next {
      right: 15px;
    }

    &.swiper-button-prev {
      left: 15px;
    }
  }
}

.product-colors__title,
.product-sizes__head-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}
