.sale {
  margin-top: 118px;

  &__tabs {
    display: flex;
    align-items: center;

    &-item {
      background: #f0f0f0;
      border-radius: 21px;
      font-size: 14px;
      line-height: 1;
      padding: 13px 30px;
      margin-right: 9px;
      cursor: pointer;
      font-weight: 300;
      transition: 0.1s linear;

      &:hover {
        background: #dddddd;
      }

      &.active {
        background: var(--main-black);
        color: var(--main-white);
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__head {
    &-ui {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 15px 0 29px;
      &-navigation {
        transform: translateY(-6px);
      }
    }
  }

  &__list {
    padding-bottom: 12px;

    &-item {
      max-width: 310px;
      width: 100%;
      transition: 0.3s linear;
      height: 480px;

      &-wrapper {
        border: 1px solid #f0f0f0;
        position: relative;
        transition: inherit;
        height: 370px;
        padding: 38px 23px 24px;
        overflow: hidden;
      }

      &:hover {
        background: var(--main-white);
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);

        & .sale__list-item-wrapper {
          height: inherit;
        }
      }

      &_sale {
        &::before {
          content: "Sale";
          display: block;
          position: absolute;
          top: 15px;
          left: 23px;
          font-weight: 500;
          font-size: 13px;
          line-height: 1;
          background: #5b8a8f;
          border-radius: 15px;
          color: var(--main-white);
          padding: 4px 12px;
          z-index: 100;
        }
      }
    }
  }

  &-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 146px;
    width: 100%;

    &__current {
      font-weight: 600;
      font-size: 18px;
      line-height: 1;
    }

    &__old {
      font-weight: 300;
      font-size: 14px;
      line-height: 1;

      &::before {
        top: -6px;
        right: -115px;
      }
    }
  }

  &__descr-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    max-width: 245px;
    width: 100%;
    margin-top: 15px;
  }

  &__ui {
    position: absolute;
    top: 17px;
    right: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    z-index: 10;

    &-item {
      transition: 0.1s linear;
      cursor: pointer;

      &_like {
        width: 20px;
        height: 18px;
      }
    }
  }

  &__slider-item-slide {
    display: flex;
    justify-content: center;

    & img {
      max-width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }

  &__decor {
    display: flex;
    align-items: center;

    &-item {
      max-width: 420px;
      width: 100%;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__select-menu-list {
    &-item {
      &:not(:last-child) {
        margin-bottom: 9px;
      }

      &:nth-child(1) {
        z-index: 10;
      }

      &:nth-child(2) {
        z-index: 9;
      }
    }
  }

  &__descr {
    margin-top: 24px;
  }

  &__select-menu-list {
    margin-top: 26px;
  }
}
