//Normalize styles
@import "vendor";

//Fonts
@import "fonts";

//CSS variables
@import "vars";

//Main styles
* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-black);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

//Blocks

@import "./blocks/core";
@import "./blocks/header";
@import "./blocks/main-slider";
@import "./blocks/categories";
@import "./blocks/sale";
@import "./blocks/product";
@import "./blocks/articles";
